@use "../foundation/import";
@use "../mixin" as m;
// Base (Mobile First)

@include m.mq(pc) {
  // sidebarセクション
  .l-sidebar {
    width: max(13.333vw, 192px); //最小値を設定したい場合
    height: 100vh;
    background-color: import.$color-sidebar;
    position: fixed;
    z-index: 1;
    top: 0;
    &::before {
      content: "";
      background: url(/img/sp/burger-bg.webp);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      background-size: 100px; /* ノイズ画像の粗さを調節 */
      opacity: 0.5;
      z-index: -1;
    }
    .l-sidebar__lists {
      text-align: left;
      margin-left: max(1.667vw, 24px); //最小値を設定したい場合
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 54px repeat(5, 24px) 394px repeat(3, 16px);
      grid-column-gap: 0px;
      grid-row-gap: 24px;
      margin-top: 42px;
    }

    .l-sidebar__list {
      transition: 0.4s all;
    }
    .l-sidebar__list:nth-of-type(1) {
      font-size: 2rem;
      color: import.$color-main;
      &::before {
        content: url(/img/component/logo.svg);
      }
      display: flex;
      gap: 1ch;
    }
  }
}
